fastapi
uvicorn
pydantic
mne
numpy
pennylane
brainflow
plotly
dash
fpdf2
pymongo
influxdb-client
python-dotenv
fastapi-socketio
transformers
scikit-learn
joblib
vispy
pytest
rdflib
torch
stable-baselines3
gym
scipy
pywt
tensorly
python-osc
websocket-client
nxsdk
xgboost
pytorch_geometric
nibabel
boto3
flwr
speechrecognition
flask
